header {
    background-color: #F9FDFF;
    display: flex;
}
h1 {
    font-family: comfortaa;
    font-size: 48px;
}
.inline-block {
    font-family: comfortaa;
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    }
    .logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    }
    nav {
       width: 73%;
       padding: 1%;
    }
    nav ul{
        width: 50%;
        margin-left: auto;
    }
    /*body content style*/
    .heroImg {
        background-color: #F9FDFF;
        height: 500px;
        padding: 25px;
    }
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }
    #image{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        size-adjust: 50%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
}
    .content {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        flex-flow: row wrap;
    }
    .content p {
        font-family: sora;
        font-size: 20px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    .content .flex-container {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        width: 100%;
        padding: 0%;
    }
    button {
        font-family: comfortaa;
        font-size: 24px;
    }
    .myWork {
        font-family: comfortaa;
        background-color: #F9FDFF;
        height: 500px;
        padding: 10%;
    }
    .workDisplayContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        padding: 5%;
        width: 100%;
    }
    /*footer style*/
    footer {
        font-family: comfortaa;
        font-size: 24px;
        background-color: #F9FDFF;
        padding: 10%;
    }
    footer ul {
        font-family: sora;
        font-size: 20px;
        display: inline-block;
        vertical-align: bottom;
        margin-left: auto;
    }
    /*mobile media query*/
    @media only screen and (max-width: 600px)
    {
        header {
            background-color: #F9FDFF;
            display: flex;
        }
        .inline-block {
            display: inline-block;
            vertical-align: top;
            }
            .logo {
            width: 23%;
            padding: 1%;
            text-align: center;
            }
            nav {
               width: 73%;
               padding: 1%;
            }
            nav ul{
                width: 50%;
                margin-left: auto;
            }

        .heroImg {
            background-color: #F9FDFF;
            height: 100%;
            padding: 10px;
        }
        .content {
            display: flex;
            width: 100%;
            margin-bottom: 30px;
            justify-content: center;
            flex-flow: column wrap;
        }
        .content p {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
        }
        .content .flex-container {
            display: flex;
            flex-flow: column wrap;
            margin-bottom: 35px auto;
            width: 100%;
            padding: 10px;
        }
        .button-container {
            display: flex;
            justify-content: center;
            margin-bottom: 35px auto;
            border-bottom: 20px;
            width: 100%;
            padding: 5px;
        }
        .myWork {
            background-color: #F9FDFF;
            border-top: 5px;
            height: 400px;
            width: 400px;
            margin-top: 35px;
            padding-bottom: 10px;
            justify-content: flex;
        }
        .workDisplayContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 35px;
            width: 400px;
        }
        .workSlides {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin-bottom: 35px;
            width: 400px;
        }
    }